<section class="fm-con reg-con">
  <form class="fm" (ngSubmit)="register()" #regForm="ngForm" novalidate>
    <h1 class="app-title">ZEPPELIN</h1>
    <div class="form-group">
      <input add-empty-class type="text" [(ngModel)]="newUser.fullName" class="form-control" name="username" #username="ngModel"
        id="username" minlength="5" required>
      <label for="username">Full Name</label>
      <span class="bar"></span>
      <span *ngIf="username.errors?.minlength && username.dirty" class="err-msg">* Minimum 5 Characters</span>
    </div>

    <div class="form-group">
      <input add-empty-class type="email" email #email="ngModel" [(ngModel)]="newUser.email" class="form-control" name="email"
        #email="ngModel" id="email" required>
      <label for="email">Email</label>
      <span class="bar"></span>
      <span *ngIf="email.errors?.email && email.dirty" class="err-msg">* Invalid Email Id</span>
    </div>

    <div class="form-group">
      <input add-empty-class type="text" pattern="(\+)?(91)?( )?[789]\d{9}" [(ngModel)]="newUser.mobile" class="form-control" name="mobile"
        #mobile="ngModel" id="mobile" required>
      <label for="mobile">Mobile Number</label>
      <span class="bar"></span>
      <span *ngIf="mobile.errors?.pattern && mobile.dirty" class="err-msg">* Invalid Indian Mobile</span>
    </div>

    <div class="form-group">
      <input add-empty-class type="password" class="form-control" [(ngModel)]="newUser.password" name="password" minlength="4"
        #password="ngModel" id="password" required>
      <label for="password">Password</label>
      <span class="bar"></span>
      <span *ngIf="password.errors?.minlength && password.dirty" class="err-msg">* Minimum 4 Characters</span>
    </div>
    <div class="form-group">
      <input add-empty-class type="password" class="form-control" [(ngModel)]="newUser.password_d" name="password_d" #password_d="ngModel"
        id="password_d" required>
      <label for="password_d">Confirm Password</label>
      <span class="bar"></span>
      <span *ngIf="newUser.password_d != newUser.password && password_d.dirty" class="err-msg">* Passwords do not match</span>
    </div>


    <div class="form-group">
      <button class="btn btn-success" class="form-submit" [disabled]="regForm.invalid || newUser.password_d != newUser.password">REGISTER</button>
      <p class="err-msg">{{registerValidation}}</p>
    </div>

    <div class="guide-txt">
      Click here to
      <a routerLink="/login">
        LOGIN
      </a>
    </div>

  </form>
</section>
