<section>
  <app-navbar></app-navbar>
  <div class="mp-hldr">
    <agm-map [zoom]="zoom" class="map" [latitude]="mapCenter.lat" [longitude]="mapCenter.lng">
      <agm-marker *ngFor="let rider of riders" appRiderEventListener [rider]="rider" [latitude]="rider.location.latitude" [longitude]="rider.location.longitude">
        <agm-info-window>
          <b>{{rider.name}}</b>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <form (ngSubmit)="findRiders()" class="cf-fm">
      <div class="form-group">
        <label for="src">Source</label>
        <select name="src" id="src" [(ngModel)]="source">
          <option *ngFor="let place of places" [ngValue]="place" class="form-select">{{place}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dest">Destination</label>
        <select name="dest" id="dest" [(ngModel)]="destination">
          <option *ngFor="let place of places" [ngValue]="place" class="form-select">{{place}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="submit" [disabled]="source === destination" />
      </div>
    </form>
  </div>

  <div *ngIf="riders.length > 0" class="rider-con">
    <rider *ngFor="let rider of riders" [rider]="rider" [onRiderSelect]="confirmRider"></rider>
  </div>

  <app-modal [(show)]="showRideConfirmation" [title]="'Ride Confirmation'">
    <span>Driver
      <b>
        {{selectedRider.name}}
      </b>
      is
      <b>
        {{selectedRider.time}}
      </b> minutes away</span>
  </app-modal>

</section>
