<section>
  <app-navbar></app-navbar>
  <div class="mp-hldr">
    <agm-map [zoom]="zoom" class="map" [latitude]="mapCenter.lat" [longitude]="mapCenter.lng">
      <agm-marker *ngFor="let rider of riders" appRiderEventListener [rider]="rider" [latitude]="rider.location.latitude" [longitude]="rider.location.longitude">
        <agm-info-window>
          <b>{{rider.name}}</b>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <form class="cf-fm">

      <div class="select-group">
        <label type="text" class="dm-sl" (click)="showSrcOp = !showSrcOp">{{source || 'Select Source'}}</label>
        <ul class="op-list" [ngClass]="{'display-n': !showSrcOp}">
          <li *ngFor="let place of places" class="op-itm" (click)="source = place; showSrcOp = false">{{place}}</li>
        </ul>
      </div>

      <div class="select-group">
        <label type="text" class="dm-sl" (click)="showDestOp = !showDestOp">{{destination || 'Select Destination'}}</label>
        <ul class="op-list" [ngClass]="{'display-n': !showDestOp}">
          <li *ngFor="let place of places" class="op-itm" (click)="destination = place; showDestOp = false">{{place}}</li>
        </ul>
      </div>

      <div class="form-group">
        <button (click)="findRiders()" [disabled]="source === destination" class="fm-submit"> Find Rides</button>
      </div>
    </form>
  </div>

  <div *ngIf="riders.length > 0" class="rider-con">
    <rider *ngFor="let rider of riders" [rider]="rider" [onRiderSelect]="confirmRider"></rider>
  </div>

  <app-modal [(show)]="showRideConfirmation" [title]="'Ride Confirmation'">
    <span>Driver
      <b>
        {{selectedRider.name}}
      </b>
      is
      <b>
        {{selectedRider.time}}
      </b> minutes away</span>
  </app-modal>

  <app-modal [(show)]="showOnNoRide" [title]="'Ride Search Info'">
    No rides found from
    <b>
      {{source}}
    </b>
    to
    <b>
      {{destination}}
    </b>
  </app-modal>

</section>
