$primary-font-color: #555;
$secondary-font-color: #aaa;
.mp-hldr {
  width: 100%;
  height: 400px;
  position: relative;
}

.cf-fm {
  position: absolute;
  z-index: 10;
  top: 10px;
}

.form-group {
  display: inline-block;
}

.map {
  height: 100%;
  width: 100%;
}

.rider-con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
