.fm-con {
  height: 300px;
  width: 500px;
  margin: 100px auto;
  border: 1px solid black;
}

.fm {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-group {
  height: 60px;
  label {
    display: block;
  }
}
