$primary-font-color:#555;
$secondary-font-color: #ccc;
@mixin c-align-xy {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fm-con {
  background: white;
  border-radius: 2px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  height: 320px;
  width: 400px;
  @include c-align-xy();
}

.fm {
  @include c-align-xy();
}

.app-title {
  font: 600 24px/50px roboto-thin;
  height: 50px;
  letter-spacing: 6px;
  margin: 0 0 40px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
  width: 300px;
  label {
    color: $secondary-font-color;
    display: block;
    font-size: 12px;
    left: 5px;
    position: absolute;
    top: 6px;
    transition: 0.1s ease all;
  }
}

.form-submit {
  background: $primary-font-color;
  border: 0px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  font: normal 14px roboto;
  height: 40px;
  letter-spacing: 2px;
  margin: 5px auto;
  width: 150px;
  &:hover,
  &:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: 0.2s ease all;
  }
  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  &+.err-msg {
    bottom: -25px;
  }
}

.form-control {
  border: 0px;
  border-bottom: 1px solid $secondary-font-color;
  box-sizing: border-box;
  color: $primary-font-color;
  font-weight: 600;
  padding: 5px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &.pull-up+label {
    color: $primary-font-color;
    font-size: 10px;
    top: -12px;
    transition: 0.16s ease all;
  }
  &:focus~.err-msg {
    display: none;
  }
  &~.bar:after,
  &~.bar:before {
    content: '';
    background: $primary-font-color;
    display: inline-block;
    height: 2px;
    position: absolute;
    top: 27px;
    transition: 0.15s ease all;
    width: 0;
  }
  &:focus~.bar:after,
  &:focus~.bar:before {
    width: 50%;
  }
  &~.bar:before {
    left: 50%;
  }
  &~.bar:after {
    right: 50%;
  }
}

.err-msg {
  bottom: -14px;
  color: red;
  font: normal 10px roboto;
  font-style: italic;
  position: absolute;
}

.guide-txt {
  bottom: 10px;
  font-size: 12px;
  position: relative;
  a {
    color: blue
  }
}
