<section class="fm-con">
  <form class="lgn-form fm" [ngFormOptions]="{updateOn: 'submit'}" (ngSubmit)="login()" #lgnForm="ngForm" novalidate>
    <h1 class="app-title">ZEPPELIN</h1>

    <div class="form-group">
      <input type="email" [(ngModel)]="user.email" email add-empty-class class="form-control" name="email" id="email" #email="ngModel"
        required>
      <label for="email">Enter Mail Id </label>
      <span class="bar"></span>
      <span *ngIf="email.errors?.email && email.dirty && user.email.length" class="err-msg">* Invalid Email Id</span>
    </div>

    <div class="form-group">
      <input type="password" add-empty-class class="form-control" [(ngModel)]="user.password" name="password" id="password" #password="ngModel"
        required>
      <label for="password">Password</label>
      <span class="bar"></span>
    </div>

    <div class="form-group">
      <button class="btn btn-success" class="form-submit">LOGIN</button>
      <p class="err-msg">{{loginValidation}}</p>
    </div>

    <div class="guide-txt">
      Click here to
      <a routerLink="/register">
        REGISTER
      </a>
    </div>
  </form>
</section>
