<section class="fm-con">
  <form class="lgn-form fm" #lgnForm="ngForm" novalidate>

    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" [(ngModel)]="user.name" class="form-control" name="username" id="username" minlength="6" required #name="ngModel">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.pass" name="password" id="password" required>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success" class="form-submit">Login</button>
    </div>

  </form>

</section>
