$primary-font-color: #555;
$secondary-font-color: #aaa;
.rider-card {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: $primary-font-color;
  display: flex;
  height: 70px;
  margin: 20px;
  padding: 10px;
  width: 350px;
  .rider-div {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 8px 0;
  }
}

.img-con {
  width: 70px;
}

.img-hldr {
  border: 1px solid $secondary-font-color;
  border-radius: 50%;
  box-sizing: border-box;
  height: 65px;
  padding: 0 2px;
  width: 65px;
  i {
    color: $secondary-font-color;
    font-size: 60px;
  }
}

.detail-con {
  width: 200px;
}

.rider-card .rider-div.detail-con {
  padding-left: 10px;
  .r-name {
    margin-top: 0
  }
}

.mk-con {
  width: 80px;
}

.r-name {
  font-size: 14px;
}

.r-time {
  color: $secondary-font-color;
  font-size: 10px;
  font-style: italic;
}

.r-route,
.r-car {
  font-size: 11px;
}

.bold {
  font-weight: 600;
}

.sec-clr {
  color: $secondary-font-color;
}

.ratin-hldr {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 100%;
}

.r-rating {
  color: green;
  font-size: 12px;
  text-align: center;
}

.bar {
  background: $secondary-font-color;
  display: inline-block;
  height: 25px;
  margin: 0 5px 0 8px;
  width: 1px;
}

.r-fav {
  color: #fbc02d;
}

.ptr {
  cursor: pointer;
  user-select: none;
}

.selection-holder {
  display: flex;
  margin: 6px 0;
  .confirm-btn {
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    height: 25px;
    margin: 0 10px;
    width: 90px;
    &:hover {
      background: #aaa;
      color: white;
      transition: 100 ease all;
    }
    &:focus,
    &:active {
      outline: none;
    }
  }
}
